* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// Center & dribbble
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
