// Color Dependency
$primary-color: #1780eb;
$primary-color-sec: #3fa4f4;
$white-color: #fff;
$glight-color: #92ed1d;
$blue: #3fa4f4;
$blue-2: #226ef8;
$purple: #6e77f7;
$peach: #fc8680;
$pink: #ef5081;
$green: #8bc34a;
$dark-green: #4caf50;
$green-1: #25ae60;
$red: #ff6666;
$orange: #ff9800;
$danger-color: #e11f27;
$danger-color2: rgb(216, 7, 14);
